
	body {
		background-image: url('taust.jpg');
		

	}

	h1{
		font-size: 60px;
		font-family: brushstroke;
		font-style: italic;
		color: black;

	}
	p{
		color: black;
	}

	div{

		column-count: 2;
		column-gap: 0px;

	column{
		float:left;
	}
	left {
		width:10%;
	}
	right {
		width: 90%;
	}

	}